*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
/* body{
  background-color: #9C9EFE;
  
} */
.welcome{
  
  width: 100%;
  height: 100vh;
  background-image: url("./back.png");
  background-size: cover;
 
}
.div{
  width: 30%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 45%;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background: rgba(225, 225, 225, 0.1);
  backdrop-filter: blur(5px);
}
.icon{
  color:white;
}

.webutton{
  width: 38%;
  
}


.inpp{
  border: 1px solid rgba(255, 255, 255, 0.3);
}


#h1{
  font-weight: 700;
  color: white;
}

input {
  background: transparent;
  text-align: center;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 800;
  color: white;
  width: 70%;
}

::placeholder{
  color: white;
}



button {
  width: 70%;
  margin-bottom: 10px;
  border-radius: 20px;
  height: 34px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  background: transparent;
  border: 2px solid;
  transition: all 0.6s ease;
}

button:hover{
  background: white;
  color: black;
  border: 2px solid black;
}


.log{
  align-items: center;
}



/* home page */

.back{
  background-image: url("./background.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
 

}

.main{
  height:100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  

}

.glass {
  height: 650px;
  width: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background: rgba(225, 225, 225, 0.1);
  backdrop-filter: blur(5px);
  box-sizing: border-box;
}

.add {
  display: flex;
  
  
  justify-content: center;
  margin: 19px 0px;
}

#addinp {
  width: fit-content;

  

}
.sc{
  z-index: 999;
}


#buttonadd {
  border-radius: 100%;
  font-size: 22px;
  font-weight: 900;
  height: 50px;
  width: 50px;
  text-align: center;
  border: transparent;
}

#input {
  height: 14px;
  width: 16px;
  margin-right: 3px;
  background: transparent;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}




/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
  background:transparent;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cardbot{
  width: 17%;
}


.cd {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  margin: 5px 0;
  padding: 8px;
}
.otdoo{
  display: inline-block;
}

.ico {
  color: white;
  padding: 0 6px;
  margin: 7px;
}
.icoo{
  display: none;
}
.todoo {
  color: white;
  width: max-content;
  font-size: 18px;
}
.todoos {
  color: white;
  width: max-content;
  font-size: 18px;
  padding: 7px;
  padding-top: 7px;
  text-decoration: line-through;
}


.buts{
  display: flex;
  
}


.conform{
  width: 129%;
}


.b{
  display: flex;
  align-items: center;
  width: 105px;
}


.todotext{
  color: white !important;
}

#signout {
  width: auto;
  margin-left: 32%;
  position: fixed;
  margin-top: -4%;
  /* float: left; */
  border: none;
  width: 36px;
  /* left: 30px; */
}

#addinp{
  width: 250px;
  margin-right: 8px;
}

.text-center {
  text-align: center!important;
  width: auto !important;
}



@media (max-width :1200px) and (min-width :580px){

  .welcome{
    background-image: url("./mobile.png"); 
  }
  .div{
    width: 80%;
  }
  .webutton {
    width: 45%;
    font-size: 18px;
    height: 34px;
}
  input {
    font-size: 20px;
    font-weight: 400;
}
 


    button {
      width: 245%;
      font-size: 19px;
  }

  #h1 {
    font-size: 32px;
    margin-bottom: 22px;
    font-weight: 900;
}

#addinp {

  width: 150px;
}

.conform {
  width: 100%;
}

#addinp {
  margin-right: 5px;
  font-size: 18px;
  font-weight: 900;
  color: white;
  border: transparent;
  width: 169px;
  border-bottom: 1px solid white;
}
.todoo {
  font-size: 14px;
}
.todoos {
  font-size: 14px;
}

.ico{
  font-size: 18px;
}

.cardbot {
  width: 38%;
  font: 16px;
}

.todotext {

  font-size: 18px;
}


.welbut{
  width: 87%;
}
.conform {
  width: 84%;
  font-size: 16px;
  margin-left: 29px;
}
.ico {
  color: white;
  padding: 0 6px;
  margin: 2px;
  font-size: 14px !important;
  width: auto;
}

.buts {
  display: flex;
  flex-direction: column;
}
  
.io{
  border: none;
}

.glass{
  height: 60%;
  width: 90%;
}

#signout {
  width: auto;
  margin-left: 46%;
  margin-top: -471px;
}
#input {
  height: 10px;
  width: 16px;
  margin-right: 3px;
  background: transparent;
}
 
}

@media (max-width :580px) {
  .welcome{
    background-image: url("./mobile.png"); 
  }
  .div{
    width: 80%;
  }
  .webutton {
    width: 45%;
    font-size: 18px;
    height: 34px;
}
  input {
    font-size: 20px;
    font-weight: 400;
}
 
#input {
  height: 15px;
  width: 16px;
  margin-right: 3px;
  margin-bottom: 0px;
  background: transparent;
}


    button {
      width: 245%;
      font-size: 19px;
  }

  #h1 {
    font-size: 32px;
    margin-bottom: 22px;
    font-weight: 900;
}

#addinp {

  width: 150px;
}

.conform {
  width: 100%;
}

#addinp {
  margin-right: 5px;
  font-size: 18px;
  font-weight: 900;
  color: white;
  border: transparent;
  width: 169px;
  border-bottom: 1px solid white;
}
.todoo {
  font-size: 16px;
  display: flex;
  align-items: center;
}
.todoos {
 
  font-size: 14px;
}
.ico{
  font-size: 18px;
}

.cardbot {
  width: 38%;
  font: 16px;
}

.todotext {

  font-size: 18px;
}


.welbut{
  width: 87%;
}
.conform {
  width: 84%;
  font-size: 16px;
  margin-left: 29px;
}
.ico {
  color: white;
  padding: 0 6px;
  margin: 2px;
  font-size: 14px !important;
  width: auto;
}

.buts {
  display: flex;
  flex-direction: column;
}
  
.io{
  border: none;
}

.glass {
  height: 77%;
  width: 90%;
}

#signout {
  width: auto;
  margin-left: 34%;
  margin-top: -44%;
}
}


@media (max-height : 350px) {
  .welcome{
    height: 200vh;
    background-image: url("./mobile.png"); 
  }
  .div{
    width: 80%;
  }
  .webutton {
    width: 45%;
    font-size: 18px;
    height: 34px;
}
  input {
    font-size: 20px;
    font-weight: 400;
}
 


    button {
      width: 245%;
      font-size: 19px;
  }

  #h1 {
    font-size: 32px;
    margin-bottom: 22px;
    font-weight: 900;
}

#addinp {

  width: 150px;
}

.conform {
  width: 100%;
}

#addinp {
  margin-right: 5px;
  font-size: 18px;
  font-weight: 900;
  color: white;
  border: transparent;
  width: 169px;
  border-bottom: 1px solid white;
}
.todoo {
 
  font-size: 14px;
}
.ico{
  font-size: 18px;
}

.cardbot {
  width: 38%;
  font: 16px;
}

.todotext {

  font-size: 18px;
}


.welbut{
  width: 87%;
}
.conform {
  width: 84%;
  font-size: 16px;
  margin-left: 29px;
}
.ico {
  color: white;
  padding: 0 6px;
  margin: 2px;
  font-size: 14px !important;
  width: auto;
}

.buts {
  display: flex;
  flex-direction: column;
}
  
.io{
  border: none;
}

.glass {
  height: 77%;
  width: 90%;
}

#signout {
  width: auto;
  margin-left: 34%;
  margin-top: -44%;
}
}
